<% if note %>
  <h3><%= note.title %></h3>
  <p><%= note.contents %></p>
  <br>
  <%= link_to "next", book_next_path, method: :post %>
<% else %>
  There is no Notes<br>
  <%= link_to "Go to make new note", notes_path %>
<% end %>
